.icon-short-text8 {
  position: relative;
  width: 22.25px;
  height: 18.4px;
  flex-shrink: 0;
}
.ticket-type4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.icon-short-text-parent5,
.icon-short-text-parent6 {
  text-decoration: none;
  position: absolute;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon-short-text-parent5 {
  top: 442px;
  left: 21px;
  background-color: var(--color-mediumslateblue-200);
  color: var(--color-black);
}
.icon-short-text-parent6 {
  top: 0;
  left: 3px;
  color: inherit;
}
.icon-laptop4,
.vuesaxlinearprofile-icon12 {
  position: relative;
  width: 28.05px;
  height: 20.57px;
  flex-shrink: 0;
}
.vuesaxlinearprofile-icon12 {
  width: 24px;
  height: 24px;
}
.icon-laptop-parent2 {
  text-decoration: none;
  position: absolute;
  top: 64px;
  left: 0;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.frame-parent2 {
  position: absolute;
  top: 270px;
  left: 18px;
  width: 221px;
  height: 104px;
}
.icon-burger4 {
  position: relative;
  width: 22.25px;
  height: 21.8px;
  flex-shrink: 0;
}
.icon-burger-parent2 {
  text-decoration: none;
  position: absolute;
  top: 391px;
  left: 21px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.frame-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 259px;
  height: 982px;
}
.vuesaxlinearprofile-parent2 {
  text-decoration: none;
  position: absolute;
  top: 222px;
  left: 17px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.logout4 {
  position: relative;
  line-height: 24px;
}
.vuesaxlinearlogout-parent2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.create-ticket-type-inner {
  text-decoration: none;
  position: absolute;
  top: 564px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-indianred);
}
.group-icon4 {
  position: absolute;
  height: 8.15%;
  width: 7.28%;
  top: 0;
  right: 87.76%;
  bottom: 91.85%;
  left: 4.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text2,
.text3 {
  text-decoration: none;
  line-height: 24px;
  font-weight: 500;
}
.text2 {
  position: absolute;
  top: 227px;
  left: 491px;
  font-family: var(--heading-h5-16);
  color: var(--color-dodgerblue);
  text-align: center;
}
.text3 {
  position: relative;
  color: inherit;
}
.x-baseunderline2 {
  position: absolute;
  top: 219px;
  left: 334px;
  background-color: var(--light-background-primary);
  box-shadow: var(--light-underline-inactive);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: var(--heading-h5-16);
}
.create-ticket-type-child {
  position: absolute;
  top: 258.5px;
  left: 471.5px;
  border-top: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 96px;
  height: 1px;
}
.button11 {
  flex: 1;
  position: relative;
  font-size: var(--header-header-h3-size);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--header-header-h3);
  color: var(--color-whitesmoke-200);
  text-align: center;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xs);
  background-color: var(--color-mediumslateblue-100);
  position: absolute;
  top: 533px;
  left: 343px;
  border-radius: var(--br-5xs);
  width: 216px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ticket-type5 {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.price2,
.ticket-type-parent,
.ticket-type5 {
  position: absolute;
  width: 169px;
}
.price2 {
  top: 94px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.ticket-type-parent {
  top: 311px;
  left: 345px;
  height: 114px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.create-ticket-type-child1,
.create-ticket-type-item {
  border: 1px solid var(--color-black);
  background-color: transparent;
  position: absolute;
  top: 437px;
  left: 343px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 472px;
  height: 36px;
}

.create-ticket-type-item2 {
    border: 1px solid var(--color-black);
    background-color: transparent;
    position: absolute;
    top: 490px;
    left: 343px;
    border-radius: var(--br-3xs);
    box-sizing: border-box;
    width: 472px;
    height: 36px;
}

.create-ticket-type-child1 {
  top: 344px;
}
.create-ticket-type {
  position: relative;
  background-color: var(--light-background-primary);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h5-16-size);
  color: var(--color-gray-100);
  font-family: var(--font-manrope);
}
