.details-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 240px;
  height: 982px;
}
.vuesaxlinearlogout-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.logout1 {
  position: relative;
  line-height: 24px;
}
.vuesaxlinearlogout-group {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.details-inner {
  text-decoration: none;
  position: absolute;
  top: 564px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: inherit;
}
.admin3,
.lala-lulu1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  font-weight: 600;
}
.admin3 {
  top: 20px;
  font-weight: 500;
  color: var(--color-darkgray-100);
}
.lala-lulu-group {
  position: relative;
  width: 59px;
  height: 36px;
  flex-shrink: 0;
}
.details-inner1,
.group-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.details-inner1 {
  position: absolute;
  top: 56px;
  left: 1378px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.group-icon1 {
  position: absolute;
  height: 8.15%;
  width: 7.28%;
  top: 0;
  right: 89.09%;
  bottom: 91.85%;
  left: 3.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.vuesaxlinearcategory-group,
.vuesaxlinearprofile-group,
.vuesaxlinearreceipt-2-group {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-xs);
  cursor: pointer;
}
.vuesaxlinearcategory-group {
  background-color: var(--color-mediumslateblue-200);
  width: 167px;
  box-sizing: border-box;
  align-items: center;
  color: var(--color-black);
}
.vuesaxlinearprofile-group,
.vuesaxlinearreceipt-2-group {
  text-decoration: none;
  align-self: stretch;
  align-items: flex-start;
  color: inherit;
}
.vuesaxlinearreceipt-2-group {
  align-items: center;
}
.frame-container {
  position: absolute;
  top: 212px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--color-gray-100);
}
.vuesaxlinearlogout-icon2 {
  position: absolute;
  height: 100.85%;
  width: 100.83%;
  top: -100%;
  right: 100%;
  bottom: 99.15%;
  left: -100.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxlinearlogout {
  text-decoration: none;
  position: absolute;
  top: 99.27px;
  left: 325.1px;
  width: 43.74px;
  height: 43.27px;
  transform: rotate(179.52deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.email,
.full-name,
.password,
.username {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 169px;
  height: 20px;
}
.email,
.password,
.username {
  top: 131px;
}
.email,
.password {
  top: 272px;
}
.password {
  top: 425px;
}
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: 49px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 472px;
  height: 50px;
}
.group-child5,
.group-child6,
.group-child7 {
  top: 321px;
}
.group-child6,
.group-child7 {
  top: 473px;
}
.group-child7 {
  top: 185px;
}
.group-icon2 {
  position: absolute;
  height: 4.14%;
  width: 6.74%;
  top: 93.12%;
  right: 3.86%;
  bottom: 2.74%;
  left: 89.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.full-name-parent {
  position: absolute;
  top: 143px;
  left: 298px;
  width: 472px;
  height: 523px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.details {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-indianred);
  font-family: var(--font-manrope);
}
