.scrollable-container {
  height: 500px; /* Set the desired height for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.icon-short-text8 {
  position: relative;
  width: 22.25px;
  height: 18.4px;
  flex-shrink: 0;
}
.ticket-sales8 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.icon-short-text-parent5 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-200);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.icon-burger8,
.vuesaxlinearprofile-icon16 {
  position: relative;
  width: 22.25px;
  height: 21.8px;
  flex-shrink: 0;
}
.vuesaxlinearprofile-icon16 {
  width: 24px;
  height: 24px;
}
.icon-burger-parent6 {
  text-decoration: none;
  position: absolute;
  top: 64px;
  left: 0;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.icon-bar-chart8 {
  position: relative;
  width: 23px;
  height: 22px;
  flex-shrink: 0;
}
.icon-bar-chart-parent6 {
  text-decoration: none;
  position: absolute;
  top: 128px;
  left: 0;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.frame-parent6 {
  position: absolute;
  top: 323px;
  left: 21px;
  width: 218px;
  height: 168px;
}
.owner-ticket-sales-hour-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 259px;
  height: 982px;
}
.logout8 {
  position: relative;
  line-height: 24px;
}
.vuesaxlinearlogout-parent5 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.owner-ticket-sales-hour-child {
  text-decoration: none;
  position: absolute;
  top: 564px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-indianred);
}
.group-icon8 {
  position: absolute;
  height: 8.15%;
  width: 7.28%;
  top: 0;
  right: 87.76%;
  bottom: 91.85%;
  left: 4.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button65 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-roboto);
  text-align: center;
}
.button64,
.button66,
.button68 {
  border: 0;
  padding: var(--padding-base) var(--padding-xs);
  top: 0;
  border-radius: var(--br-5xs);
  width: 106px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button64 {
  cursor: pointer;
  background-color: var(--color-mediumslateblue-100);
  position: absolute;
  left: 0;
  height: 40px;
  color: var(--color-whitesmoke-200);

}
.button66,
.button68 {
  background-color: var(--color-plum);
  color: var(--color-mediumslateblue-100);

}
.button66 {
  position: absolute;
  left: 144px;
  height: 40px;
}
.button68 {
  cursor: pointer;
  left: 288px;
}
.button-parent5,
.button68,
.button70 {
  position: absolute;
  height: 40px;
}
.button70 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xs);
  background-color: var(--color-plum);
  top: 0;
  left: 432px;
  border-radius: var(--br-5xs);
  width: 106px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--color-mediumslateblue-100);

}
.button-parent5 {
  top: 75px;
  left: 320px;
  width: 538px;
}
.owner-ticket-sales-hour {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-manrope);
}
