.payment-succesfull {
  position: absolute;
  top: 120px;
  left: 449px;
  font-size: var(--header-header-h1-size);
  text-align: left;
}
.transaction-details-have {
  position: absolute;
  top: 462px;
  left: 380px;
  font-size: var(--other-roboto-medium-20-size);
  line-height: 137.2%;
  color: var(--shade-600);
  display: inline-block;
  width: 680px;
}
.button92 {
  flex: 1;
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.button91 {
  text-decoration: none;
  position: absolute;
  top: 552px;
  left: 614px;
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--shade-600);
  box-sizing: border-box;
  width: 216px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: center;
  font-size: var(--header-header-h3-size);
  color: var(--shade-400);
}
.clapperboard-icon,
.movie-roll-icon {
  position: absolute;
  top: 203px;
  left: 583px;
  width: 165.37px;
  height: 167.31px;
}
.movie-roll-icon {
  top: 301px;
  left: 683px;
  width: 182.48px;
  height: 110.64px;
}
.company5 {
  position: relative;
  font-weight: 500;
}
.button93 {
  position: relative;
  line-height: 24px;
}
.home80 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content20 {
  flex-direction: column;
  gap: var(--gap-lg);
  font-size: var(--other-roboto-bold-16-size);
}
.content20,
.footer-content15,
.footers-description5,
.home87 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-content15 {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.footers-description5,
.home87 {
  flex-direction: row;
}
.home87 {
  border: 0;
  background-color: transparent;
}
.footers-description5 {
  position: absolute;
  top: 40px;
  left: 320px;
  gap: var(--gap-77xl);
}
.instagram-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.follow-social-media-parent3,
.instagram-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.follow-social-media-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.social-media-and-download-apps5 {
  position: absolute;
  top: 40px;
  left: 1008px;
  width: 161px;
  height: 69px;
  text-align: left;
}
.divider17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--shade-300);
  width: 1440px;
  height: 1px;
}
.footer5,
.group-icon5 {
  position: absolute;
  overflow: hidden;
}
.group-icon5 {
  height: 33.33%;
  width: 11.6%;
  top: 9.72%;
  right: 84.58%;
  bottom: 56.94%;
  left: 3.82%;
  max-width: 100%;
  max-height: 100%;
}
.footer5 {
  top: 782px;
  left: 2px;
  background-color: var(--white);
  width: 1440px;
  height: 360px;
}
.word-only-icon5 {
  position: relative;
  width: 110px;
  height: 81px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.home93 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: inherit;
}
.button104 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.profile-picture-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.m4 {
  position: absolute;
  top: 11px;
  left: 12px;
  line-height: 18px;
  font-weight: 500;
}
.profile-picture4 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  color: var(--white);
  font-family: var(--font-poppins);
}
.after-login-notif-on4,
.homepage-link4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.homepage-link4 {
  justify-content: flex-end;
  gap: var(--gap-29xl);
}
.after-login-notif-on4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  padding: var(--padding-5xs) var(--padding-53xl);
  box-sizing: border-box;
  justify-content: space-between;
}
.payment-success {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1108px;
  overflow: hidden;
  text-align: center;
  font-size: var(--body-body-large-size);
  color: var(--shade-900);
  font-family: var(--header-header-h3);
}
