.icon-short-text26 {
  position: relative;
  width: 22.25px;
  height: 18.4px;
  flex-shrink: 0;
}
.ticket-type15 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.icon-short-text-parent23,
.icon-short-text-parent24 {
  text-decoration: none;
  position: absolute;
  top: 451px;
  left: 24px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.icon-short-text-parent24 {
  top: 279px;
}
.icon-laptop13,
.vuesaxlinearprofile-icon39 {
  position: relative;
  width: 28.05px;
  height: 20.57px;
  flex-shrink: 0;
}
.vuesaxlinearprofile-icon39 {
  width: 24px;
  height: 24px;
}
.icon-laptop-parent11 {
  text-decoration: none;
  position: absolute;
  top: 343px;
  left: 21px;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-200);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.icon-burger13 {
  position: relative;
  width: 22.25px;
  height: 21.8px;
  flex-shrink: 0;
}
.icon-burger-parent11 {
  text-decoration: none;
  position: absolute;
  top: 400px;
  left: 24px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.frame-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 259px;
  height: 982px;
}
.logout13 {
  position: relative;
  line-height: 24px;
}
.vuesaxlinearlogout-parent11 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.retireive-movies-inner {
  text-decoration: none;
  position: absolute;
  top: 564px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-indianred);
}
.group-icon13 {
  position: absolute;
  height: 8.15%;
  width: 7.28%;
  top: 0;
  right: 87.76%;
  bottom: 91.85%;
  left: 4.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lala-lulu12,
.owner11 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  font-weight: 600;
}
.owner11 {
  top: 20px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.lala-lulu-parent10 {
  position: relative;
  width: 59px;
  height: 36px;
  flex-shrink: 0;
}
.group-wrapper10,
.retireive-movies-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.retireive-movies-child {
  position: absolute;
  top: 56px;
  left: 1378px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.icon8 {
  position: absolute;
  top: 224px;
  left: 456px;
  width: 20px;
  height: 20px;
  display: none;
}
.div4 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.counter4,
.icon9 {
  position: absolute;
  display: none;
}
.counter4 {
  top: 226px;
  left: 493px;
  border-radius: var(--br-77xl);
  background-color: var(--light-background-primary);
  flex-direction: column;
  padding: 0 var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--caps-caps-3-10-semi-bold-size);
  color: var(--black);
  font-family: var(--heading-h5-16);
}
.icon9 {
  top: 224px;
  left: 544px;
  width: 20px;
  height: 20px;
}
.details3 {
  position: absolute;
  top: 162px;
  left: 352px;
  font-size: var(--font-size-11xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--heading-h5-16);
  color: var(--color-black);
  text-align: center;
}
.button33 {
  flex: 1;
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.button32,
.retireive-movies-item {
  position: absolute;
  box-sizing: border-box;
}
.button32 {
  text-decoration: none;
  top: 48px;
  left: 307px;
  border-radius: var(--br-5xs);
  background-color: var(--color-dimgray);
  width: 90px;
  height: 31px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--header-header-h3-size);
  color: var(--color-whitesmoke-200);
  font-family: var(--header-header-h3);
}
.retireive-movies-item {
  border: 1px solid var(--color-black);
  background-color: transparent;
  top: 452px;
  left: 354px;
  border-radius: var(--br-3xs);
  width: 472px;
  height: 36px;
}
.director2,
.duration2,
.movie-title3,
.rating-age2,
.synopsis2,
.time3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 169px;
  height: 20px;
}
.director2,
.duration2,
.rating-age2,
.synopsis2,
.time3 {
  top: 94px;
}
.director2,
.duration2,
.rating-age2,
.synopsis2 {
  top: 188px;
}
.duration2,
.rating-age2,
.synopsis2 {
  top: 281px;
}
.rating-age2,
.synopsis2 {
  top: 380px;
  left: 2px;
}
.synopsis2 {
  top: 473px;
}
.movie-title-container {
  position: absolute;
  top: 231px;
  left: 354px;
  width: 171px;
  height: 493px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.retireive-movies-child1,
.retireive-movies-child2,
.retireive-movies-child3,
.retireive-movies-child4,
.retireive-movies-child5 {
  border: 1px solid var(--color-black);
  background-color: transparent;
  position: absolute;
  top: 357px;
  left: 352px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 472px;
  height: 36px;
}
.retireive-movies-child2,
.retireive-movies-child3,
.retireive-movies-child4,
.retireive-movies-child5 {
  top: 264px;
}
.retireive-movies-child3,
.retireive-movies-child4,
.retireive-movies-child5 {
  top: 737px;
}
.retireive-movies-child4,
.retireive-movies-child5 {
  top: 644px;
}
.retireive-movies-child5 {
  top: 549px;
  left: 354px;
}
.retireive-movies-child6 {
  position: absolute;
  top: 366px;
  left: 921px;
  border-radius: var(--br-3xs);
  width: 205px;
  height: 243px;
  object-fit: cover;
}
.vuesaxlinearprofile-parent11 {
  text-decoration: none;
  position: absolute;
  top: 222px;
  left: 23px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.retireive-movies {
  position: relative;
  background-color: var(--light-background-primary);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h5-16-size);
  color: var(--color-gray-100);
  font-family: var(--font-manrope);
}
