.icon-short-text30 {
  position: relative;
  width: 22.25px;
  height: 18.4px;
  flex-shrink: 0;
}
.ticket-type17 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.icon-short-text-parent27,
.icon-short-text-parent28 {
  text-decoration: none;
  position: absolute;
  left: 23px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon-short-text-parent27 {
  top: 451px;
  color: inherit;
}
.icon-short-text-parent28 {
  top: 279px;
  background-color: var(--color-mediumslateblue-200);
  color: var(--color-black);
}
.icon-laptop15,
.vuesaxlinearprofile-icon45 {
  position: relative;
  width: 28.05px;
  height: 20.57px;
  flex-shrink: 0;
}
.vuesaxlinearprofile-icon45 {
  width: 24px;
  height: 24px;
}
.icon-laptop-parent13 {
  text-decoration: none;
  position: absolute;
  top: 340px;
  left: 20px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.icon-burger15 {
  position: relative;
  width: 22.25px;
  height: 21.8px;
  flex-shrink: 0;
}
.icon-burger-parent13 {
  text-decoration: none;
  position: absolute;
  top: 400px;
  left: 23px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.frame-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 259px;
  height: 982px;
}
.logout15 {
  position: relative;
  line-height: 24px;
}
.vuesaxlinearlogout-parent13 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.screening-inner {
  text-decoration: none;
  position: absolute;
  top: 564px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-indianred);
}
.group-icon15 {
  position: absolute;
  height: 8.15%;
  width: 7.28%;
  top: 0;
  right: 87.76%;
  bottom: 91.85%;
  left: 4.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lala-lulu14,
.owner13 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  font-weight: 600;
}
.owner13 {
  top: 20px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.lala-lulu-parent12 {
  position: relative;
  width: 59px;
  height: 36px;
  flex-shrink: 0;
}
.group-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.screening-child,
.x-baseunderline11,
.x-baseunderline12 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.screening-child {
  top: 56px;
  left: 1378px;
  align-items: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.x-baseunderline11,
.x-baseunderline12 {
  text-decoration: none;
  top: 158px;
  background-color: var(--light-background-primary);
  box-shadow: var(--light-underline-inactive);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-5xl);
  align-items: center;
  text-align: center;
  font-family: var(--heading-h5-16);
}
.x-baseunderline11 {
  left: 455px;
  color: inherit;
}
.x-baseunderline12 {
  left: 340px;
  color: var(--color-dodgerblue);
}
.screening-item {
  position: absolute;
  top: 197.5px;
  left: 345.5px;
  border-top: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 1100px;
}
.vuesaxlinearprofile-parent13 {
  text-decoration: none;
  position: absolute;
  top: 222px;
  left: 23px;
  border-radius: var(--br-9xs);
  width: 218px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: inherit;
}
.all-yg-di1 {
  margin: 0;
  position: absolute;
  top: 276px;
  left: 374px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 95px;
  height: 24px;
}
.screening15 {
  position: relative;
  background-color: var(--light-background-primary);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h5-16-size);
  color: var(--color-gray-100);
  font-family: var(--font-manrope);
}
