.arrowleft-icon {
  border-radius: var(--br-9xs);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.arrowleft-icon,
.button46 {
  position: relative;
}
.button45 {
  text-decoration: none;
  position: absolute;
  top: 64px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  cursor: pointer;
  color: inherit;
}
.daftar-tix-id {
  position: absolute;
  top: 98px;
  left: 80px;
  font-size: var(--header-header-h2-size);
  color: var(--color-black);
}
.text-input,
.text-input1,
.text-input2,
.text-input3 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 242px;
  left: 80px;
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-input1,
.text-input2,
.text-input3 {
  top: 361px;
}
.text-input2,
.text-input3 {
  top: 468px;
}
.text-input3 {
  top: 575px;
}
.nama-lengkap {
  top: 204px;
  display: inline-block;
}
.nama-lengkap,
.password,
.username {
  position: absolute;
  left: 80px;
  line-height: 28px;
  width: 200px;
  height: 20px;
}
.username {
  top: 425px;
  display: inline-block;
}
.password {
  top: 532px;
}
.button48,
.email,
.password {
  display: inline-block;
}
.email {
  position: absolute;
  top: 318px;
  left: 80px;
  line-height: 28px;
  width: 200px;
  height: 20px;
}
.button48 {
  flex: 1;
  position: relative;
  font-weight: 500;
  height: 24.07px;
}
.button47 {
  position: absolute;
  top: 638px;
  left: 80px;
  border-radius: 5.07px;
  background-color: var(--color-blue);
  width: 423px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--other-roboto-medium-20-size);
  color: var(--white);
}
.login-card,
.sign-up-tix-id {
  background-color: var(--white);
  overflow: hidden;
}
.login-card {
  position: absolute;
  top: 64px;
  left: 403px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 656px;
  height: 772px;
  font-size: var(--body-body-large-size);
  color: var(--shade-900);
}
.sign-up-tix-id {
  position: relative;
  width: 100%;
  height: 900px;
  text-align: left;
  font-size: var(--header-header-h3-size);
  color: var(--white);
  font-family: var(--header-header-h3);
}
